body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#infosDate {
    color: orangered;
}

#infosVilles .dropdown-menu {
    padding: 0 0 0 0;
}

#infosVilles li:nth-child() {
    background-color: rgb(155, 39, 39);
}

#infosVilles ul li {
    list-style-type: none;
    padding: 2px 0px;
}

#infosVilles ul li:hover {
    color: green;
    cursor: help;
}

#infosVilles ul li::before {
    content: "\00BB     ";
}

#datasMeteo {
    min-height: 350px !important;
}

canvas {
    margin-top: 5em;
    height: 180%;
}

.opacityGraph {
    opacity: 0;
}

.card-img-top {
    width: 90%;
}

#searchButton:hover {
    background-color: blueviolet;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a:visited {
    text-decoration: none;
    color: rgb(236, 233, 233);
}

a {
    color: white;
}

a:hover {
    color: lightgrey;
}

#datasInfos1, #datasInfos2, #datasInfos3, #datasInfos4 {
    margin-bottom: 0.2em;
}

#datasInfos1, #datasInfos2, #datasInfos3 {
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 0px 0px;
}

#datasInfos1 {
    border-width: 0px 1px 1px 0px;
}

#datasInfos2 {
    border-width: 0px 0px 1px 0px;
}

#datasMeteo3 {
    border-width: 0px 1px 0px 0px;
}