body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#infosVilles ul {
    padding: 0 0 0 0;
}

#infosVilles ul:nth-child() {
    background-color: rgb(155, 39, 39);
}

#infosVilles ul li {
    list-style-type: none;
    padding: 2px 0px;
}

#infosVilles ul li:hover {
    color: green;
    cursor: help;
}

#infosVilles ul li::before {
    content: "\00BB     ";
}

.card-img-top {
    width: 60%;
}

.card-img-top:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease-out;
}

#searchButton:hover {
    background-color: blueviolet;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a:visited {
    text-decoration: none;
    color: rgb(236, 233, 233);
}

a {
    color: white;
}

a:hover {
    color: lightgrey;
}

#datasMeteo1, #datasMeteo2, #datasMeteo3, #datasMeteo4 {
    margin-bottom: 0.5em;
}